@import "./../../../../styles/variables";

.alert-system {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;

  .search-box-and-setting {
    // width: 105px;
    padding-bottom: 10px;
  }

  .setting-alert {
    padding-top: 3px;
    padding-left: 5px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    box-shadow: 0 2px 4px 0 rgba(16, 16, 16, 0.5);
    background-color: $b_color_3;
  }
  
}
