@import '../../../../styles/variables';

.sf-wrapper {
  .star-wrapper {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 3px;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
  }

  .active {
    background-color: #ffc859;
    color: #1f2329;
  }

  .non-active {
    background: none;
    border: 1px solid #ccc;
    color: #fff;
  }

  .selected {
    opacity: 1;
  }

  .non-selected {
    opacity: 0.25;
  }
}
