.logout-link{
  display: inline-block;
  a{
    color: $white;
    display: inline-block;
    position: relative;
    i{
      font-size: 13px;
      margin-top: 0px;
    }
  }
}
.light-mode{
  .logout-link{
    a {
      color: $l_white;
    }
  }
}