@import '../../../../styles/variables';

.index-valuation-wrapper {
  padding: 0;
  margin-bottom: 6px;
  min-width: 600px;
  .list-filter {
  }
  .valuation-chart {
    background-color: #1e242e;
    padding-bottom: 10px;
  }
  .drop-cus::after {
  }
}
