.loading-ev {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; //Half of the height of the loading graphic
  margin-left: -50px;
  user-select: none;
  pointer-events: none;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
  }
}
