.market-in-depth-index-wrap {
  .custom-table > tbody > tr > td, .custom-table > tbody > tr > th {
    padding-left: 1px !important;
    padding-right: 2px !important;
    overflow: inherit !important;
  }
}

