.text-percent-index-change {
  color: #ffffff;
}
.text-white-all {
  color: #ffffff !important;
  span,
  i {
    color: #ffffff !important;
  }
}
.light-mode .text-percent-index-change {
  color: #1f2023;
}
