@import "./../../../styles/variables";

.toggle-switch-wrap {
  display: inline-block;
  font-size: 2rem;
  width: 25px;
  height: 10px;
  background: rgba(150, 150, 150, 0.5);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;

  &.active {
    background: rgba(71, 195, 255, 0.5);
    border-color: $ta_color_1;

    .toggle-button {
      right: -1px;
      background: $l_color_5;
    }
  }

  .toggle-button {
    position: absolute;
    top: -2px;
    right: 50%;
    height: 13px;
    width: 13px;
    background: $l_color_7;
    //box-shadow: 0 0 5px #555;
    border-radius: 50%;
    transition: right 0.3s;
  }
}
