.transition {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.bg-s-color-red {
  background-color: #CD656B;
}

.bg-s-color-blue {
  background-color: #41B088;
}

.custom-blink {
  color: white;
}