@import '../../../../styles/variables';

.technical-wrapper {
  position: relative;
}

.technical-wrapper {
  .custom-table > tbody > tr > td,
  .custom-table > tbody > tr > th {
    padding: 0 !important;
    overflow: inherit !important;
  }

  .custom-table > tbody > tr > td > div > .group-sticker {
    padding: 10px !important;
  }

  .bg-blue {
    background-color: $l_color_4 !important;
    font-weight: 300;
  }

  .bg-gray {
    background-color: $ta_color_2 !important;
  }

  .font-weight-bold {
    font-weight: bold !important;
  }
}

.light-mode {
  .technical-wrapper {
    .bg-blue {
      background-color: $white !important;
    }
    .bg-gray {
      background-color: #f1f3f4 !important;
    }
    .border-bottom-ex {
      border-bottom: 1px solid rgba(#555555, 0.2) !important;
    }

    .table-sticky-first-column tbody tr td:first-child {
      background-color: $white !important;
    }
  }
}
